<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wikinavigator/style.css' %}"
    <script src="{% static 'wikinavigator/script.js' %}"></script>

    <title>Path to Philosophy</title>
  </head>
  <body>
    <h1 class="center">Path to Philosophy</h1>
    <h2 class="center">{{jumps}} jumps</h2>
    {% if looped %}
      <h4 class="center"> Ended in a loop </h4>
    {% endif %}

    <div id="accordion" class="center">
    {% for page in path %}
      <div class="card">
        <div class="card-header" id="heading{{page.pageid}}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{page.pageid}}" aria-expanded="false" aria-controls="collapse{{page.pageid}}">
              {{page.titles.display}}
            </button>
          </h5>
        </div>
        <div id="collapse{{page.pageid}}" class="collapse" aria-labelledby="heading{{page.pageid}}" data-parent="#accordion">
          <div class="card-body row">
            {% if page.thumbnail %}
            <div class="col-3">
              <img class="fit" src="{{ page.thumbnail.source }}"/>
            </div>
            {% endif %}
            <div class="col">
              {{ page.extract_html|safe }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>